<%- include('./partials/head') %>

<header>
      <img class="logo"></img>
      <h1 class="title">Visual Thinking</h1>
      <nav>
        <ul>
          <li>
            <a class="nav-item" href="Over">Over</a>
          </li>
          <li>
            <a class="nav-item" href="Blog">Blog</a>
          </li>
        </ul>
      </nav>
      <img></img>
</header>
<main>
  <section class="tagline-container">
    <p class="tagline-label">Visual Thinking in het HBO</p>
    <img class="tagline-frame"></img>
  </section>
  <section class="waarom-container">
    <p class="waarom-label">Waarom vtHBO</p>
    <img class="waarom-frame"></img>
  </section>
  <section class="methodes-container">
    <p class="methodes-label">Wat is vtHBO</p>
    <img class="methodes-frame"></img>
  </section>
  <section class="categorie-container">
    <p class="categorie-label">Welke categorieën zijn er?</p>
    <img class="categorie-frame"></img>
  </section>
</main>

<%- include('./partials/foot') %>